.addPadding {
  

}


.alink:hover {
  color:#72AB02; 
}

.alink {
  color:#ccc; 
}

.separatorImg {
  height:680px;
  width:60px;
  position: relative;
  top:20px;
  opacity: 0.2;
 
}

@media (max-width : 760px) {

  .separatorImg {
    display:none;

  }
}